.dropzone {
  /* flex: 0 1 auto; */
  border: 2px solid black;
  border-radius: 2px;
  /* margin: 10px 0px; */
  background-color: #f3efef;
  position: relative;
  cursor: pointer;
  outline: none;
  grid-row: 1 / 2;
  grid-column: 2 / -2;
  display: flex;
  /* justify-content: center; */
  align-items: center;
}

.dropzone > p {
  /* margin-left: 10px;
  margin-right: 10px; */
  /* margin: 10px; */
  margin: 0px;
  padding-left: 10px;
  /* width: 100%; */
}

.file-uploaded {
  display: flex;
  justify-content: space-between;
  cursor: initial;
}

.remove-file {
  font-weight: bold;
  user-select: none;
  cursor: pointer;
}

.remove-file:hover {
  color: gray;
}
