.map-container {
  grid-row: 2 / 3;
  grid-column: 2 / -2;
  position: relative;
}

.map-style-picker {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 100;
}

.layer-controls {
  border-radius: 3px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  /* font-family: 'ff-clan-web-pro, "Helvetica Neue", Helvetica, sans-serif !important'; */
  font-size: 11px;
  line-height: 1.833;
  width: auto;
  position: absolute;
  /* justify-content: sp */
  top: 20px;
  right: 20px;
  padding: 20px;
  z-index: 100;
  background: white;
}

.checkbox {
  transform: scale(0.75);
}
/* .checkbox label:after {
  transform: scale(0.5);
} */

.controls-toggle__holder {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 16px;
}

.controls-toggle {
  cursor: pointer;
}

.tooltip {
  position: absolute;
  padding: 4px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  max-width: 300px;
  font-size: 10px;
  z-index: 9;
  pointer-events: none;
}

.input-group {
  display: flex;
  justify-content: center;
  align-items: center;
}
