@import url("./styles/dropzone.css");
@import url("./styles/mapStyles.css");
@import url("./styles/charts.css");
@import "../node_modules/react-vis/dist/style.css";

html,
body,
#root,
.App {
  height: 100%;
  margin: 0;
  /* background-color: #000; */
}

/* .dashboard {
  display: flex;
  flex-direction: column;
  height: 100%;
} */

.App {
  display: grid;
  grid-template-rows: 70px 1fr;
  /* position: relative; */
}

.navbar {
  grid-row: 1 / 2;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: stretch;
}

.dashboard {
  grid-row: 2 / -1;
  display: grid;
  grid-template-rows: 70px 600px auto;
  grid-template-columns: repeat(12, 1fr);
  grid-row-gap: 10px;
}
